.playlist-page {
    margin-top: 4px;
}

.playlist-page > .empty {
    font-size: 0.85rem;
    margin: 4px 0;
}

.playlist-page > .playlist-header {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.playlist-page > .playlist-header > .thumbnail {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.playlist-page > .playlist-header > .playlist-details > .title {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 4px;
}

.playlist-page > .playlist-header > .playlist-details > .date {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--font-color-tertiary);
    margin-bottom: 4px;
}

.playlist-page > .playlist-header > .playlist-details > .stats {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--font-color-tertiary);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.playlist-page > .playlist-header > .playlist-details > .stats > .track-amount > .number,
.playlist-page > .playlist-header > .playlist-details > .stats > .album-amount > .number {
    font-weight: 600;
    letter-spacing: 0.5px;
}

.playlist-page > .playlist-header > .playlist-details > .stats > .divider {
    width: 2px;
    height: 2px;
    margin: 0 4px;
    margin-top: 2px;
    border-radius: 50%;
    background-color: var(--font-color-tertiary);
}

.playlist-page > .playlist-header > .playlist-details > .stats > .length > .number {
    font-weight: 600;
    letter-spacing: 0.5px;
}

.playlist-page > .playlist-header > .playlist-details > .stats > .plays > .number {
    font-weight: 600;
    letter-spacing: 0.5px;
}

.playlist-page > .playlist-header > .playlist-details > .actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 12px;
}

.playlist-page > .playlist-header > .playlist-details > .actions > .play-playlist {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px 11px;
    border-radius: 6px;
    background-color: var(--bg-color-secondary);
    transition: background-color 0.2s ease-out;
}

.playlist-page > .playlist-header > .playlist-details > .actions > .play-playlist:hover {
    background-color: var(--bg-color-tertiary);
}

.playlist-page > .playlist-header > .playlist-details > .actions > .play-playlist > .play-icon {
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    background-color: var(--brand-color);
    mask-repeat: no-repeat;
    mask-image: url(/play.fill.svg);
}

.playlist-page > .playlist-header > .playlist-details > .actions > .play-playlist > .text {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--brand-color);
}

.playlist-page > .playlist-header > .playlist-details > .actions > .favorite-state {
    cursor: pointer;
    padding: 6px;
    border-radius: 20px;
    transition: background-color 0.2s ease-out;
}

.playlist-page > .playlist-header > .playlist-details > .actions > .favorite-state:hover {
    background-color: var(--bg-color-tertiary);
}

.playlist-page > .playlist-header > .playlist-details > .actions > .favorite-state > svg {
    color: var(--brand-color);
}

@media only screen and (max-width: 320px) {
    .playlist-page > .playlist-header {
        flex-direction: column;
        gap: 14px;
        margin-bottom: 18px;
    }

    .playlist-page > .playlist-header > .thumbnail {
        margin-right: 0;
    }

    .playlist-page > .playlist-header > .playlist-details {
        text-align: center;
    }

    .playlist-page > .playlist-header > .playlist-details > .actions {
        justify-content: center;
    }
}
