.queue-page {
    margin-top: -4px;
}

.queue-page > .queue-header {
    margin-bottom: 20px;
}

.queue-page > .queue-title {
    font-size: 0.95rem;
    font-weight: 700;
    margin-bottom: 2px;
}

.queue-page > .queue-desc {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--font-color-tertiary);
    margin-bottom: 6px;
}

.queue-page > .queue-desc > .text > .highlight {
    font-weight: 600;
}

/* dnd-kit related */
.queue-page > .media-list {
    margin: 0 -8px;
}

.queue-page > .media-list .media-item {
    margin: unset;
}

.queue-page > .media-list .drag-overlay > .media-item {
    background-color: var(--bg-color-secondary);
}

.queue-page > .media-list .drag-overlay > .media-item > .media-indicators > .draggable > .bar.primary {
    transform: translateZ(0) translateY(-1px);
    background-color: var(--font-color-secondary);
}

.queue-page > .media-list .drag-overlay > .media-item > .media-indicators > .draggable > .bar.secondary {
    transform: translateZ(0) translateY(0);
    background-color: var(--font-color-secondary);
}

.queue-page > .media-list .drag-overlay > .media-item > .media-indicators > .draggable > .bar.tertiary {
    transform: translateZ(0) translateY(1px);
    background-color: var(--font-color-secondary);
}
