.settings-page {
    margin-bottom: 20px;
}

.settings-page > .section {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}

.settings-page > .section:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.settings-page > .section > .title {
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 8px;
}

/* Appearance */
.settings-page > .section.appearance {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 14px;
    row-gap: 4px;
}

.settings-page > .section.appearance > .options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 4px;
}

.settings-page > .section.appearance > .options > .option {
    cursor: pointer;
}

.settings-page > .section.appearance > .options > .option > .visual {
    position: relative;
    width: 98px;
    height: 62px;
    border-radius: 10px;
    outline: 3px solid rgba(0, 0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--bg-color-secondary);
    transition: outline-color 0.2s ease-out;
}

.settings-page > .section.appearance > .options > .option.active > .visual {
    outline-color: var(--brand-color);
}

.settings-page > .section.appearance > .options > .option.light > .visual {
    background-image: url(/light-variant-tiny.webp);
}

.settings-page > .section.appearance > .options > .option.dark > .visual {
    background-image: url(/dark-variant-tiny.webp);
}

.settings-page > .section.appearance > .options > .option.system > .visual {
    background-image: url(/dark-light-variant-tiny-split.webp);
    background-image: url(/light-dark-variant-tiny-split.webp);
}

.settings-page > .section.appearance > .options > .option > .desc {
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
    color: var(--font-color-tertiary);
    margin-top: 10px;
    transition: color 0.2s ease-out;
}

.settings-page > .section.appearance > .options > .option.active > .desc {
    color: var(--font-color);
}

/* Playback */
.settings-page > .section.playback > .inner {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--border-color);
}

.settings-page > .section.playback > .inner:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.settings-page > .section.playback > .inner > .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
}

.settings-page > .section.playback > .inner.row > .container {
    flex-direction: row;
}

.settings-page > .section.playback > .inner > .container > .info > .subtitle {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--font-color-secondary);
    margin-bottom: 4px;
}

.settings-page > .section.playback > .inner > .container > .info > .subdesc {
    font-size: 0.725rem;
    line-height: 1.4;
    color: var(--font-color-tertiary);
}

.settings-page > .section.playback > .inner > .container > .options {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.settings-page > .section.playback > .inner > .container > .options > .option {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    padding: 6px 12px;
    margin: 0 -10px;
    border-radius: 8px;
    transition: background-color 0.2s ease-out;
}

.settings-page > .section.playback > .inner > .container > .options > .option:hover {
    background-color: var(--bg-color-secondary);
}

.settings-page > .section.playback > .inner > .container > .options > .option.active:hover {
    cursor: initial;
    background-color: unset;
}

.settings-page > .section.playback > .inner > .container > .options > .option > .details > .title {
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 2px;
    color: var(--font-color-secondary);
    transition: color 0.2s ease-out;
}

.settings-page > .section.playback > .inner > .container > .options > .option.active > .details > .title {
    color: var(--font-color-active);
}

.settings-page > .section.playback > .inner > .container > .options > .option > .details > .title > .bitrate {
    font-size: 0.625rem;
    color: var(--font-color-tertiary);
    margin-left: 2px;
}

.settings-page > .section.playback > .inner > .container > .options > .option > .details > .desc {
    font-size: 0.725rem;
    line-height: 1.4;
    color: var(--font-color-tertiary);
    transition: color 0.2s ease-out;
}

.settings-page > .section.playback > .inner > .container > .options > .option.active > .details > .desc {
    color: var(--font-color-secondary);
}

.settings-page > .section.playback > .inner > .container > .options > .option > .status {
    color: var(--brand-color);
    margin-top: 2px;
    margin-right: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
}

.settings-page > .section.playback > .inner > .container > .options > .option.active > .status {
    opacity: 1;
    visibility: visible;
}

/* Switch - not used */
.switch {
    position: relative;
    display: block;
    width: 28px;
    height: 15px;
    cursor: pointer;
    flex-shrink: 0;
}

.switch > input {
    display: none;
}

.switch > .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    outline: 1px solid var(--border-color-secondary);
    background-color: var(--bg-color-tertiary);
    transition: outline-color 0.2s ease-out, background-color 0.2s ease-out;
}

.switch > input:checked + .slider {
    background-color: var(--brand-color);
    outline-color: var(--brand-color);
}

.switch > .slider:before {
    position: absolute;
    content: '';
    height: 11px;
    width: 11px;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    background-color: var(--font-color-tertiary);
    transition: transform 0.2s ease-out, background-color 0.2s ease-out;
}

.switch > input:checked + .slider:before {
    transform: translateX(13px);
    background-color: var(--font-color-inverted);
}

/* About and Session */
.settings-page > .section > .desc {
    font-size: 0.75rem;
    line-height: 1.5;
    color: var(--font-color-secondary);
}

.settings-page > .section > .desc > .subtitle {
    font-weight: 500;
    margin-bottom: 4px;
}

.settings-page > .section > .desc > .subfooter {
    margin-top: 14px;
}

.settings-page > .section > .desc > p > .mantra {
    font-style: italic;
}

.settings-page > .section > .actions {
    margin-top: 14px;
}

.settings-page > .section > .actions > .logout-button {
    font-size: 0.725rem;
    font-weight: 500;
    color: var(--font-color-inverted);
    cursor: pointer;
    padding: 7px 13px;
    border-radius: 6px;
    background-color: var(--btn-brand-color);
    transition: background-color 0.2s ease-out;
}

.settings-page > .section > .actions > .logout-button:hover {
    background-color: var(--btn-brand-color-hover);
}
