.settings-page {
    margin-bottom: 20px;
}

.settings-page > .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 14px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}

.settings-page > .section:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.settings-page > .section.appearance {
    align-items: flex-start;
}

.settings-page > .section.session {
    align-items: flex-start;
    flex-direction: column;
}

.settings-page > .section > .info > .title {
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.settings-page > .section > .info > .desc {
    font-size: 0.75rem;
    line-height: 1.4;
    color: var(--font-color-secondary);
}

.settings-page > .section.appearance > .options {
    margin-top: 4px;
}

.settings-page > .section > .options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.settings-page > .section > .options > .option {
    cursor: pointer;
}

.settings-page > .section > .options > .option > .visual {
    position: relative;
    overflow: hidden;
    width: 106px;
    height: 66px;
    border-radius: 12px;
    outline: 3px solid rgba(0, 0, 0, 0);
    background-color: var(--bg-color-secondary);
    transition: outline-color 0.2s ease-out;
    background-size: 260%;
    background-repeat: no-repeat;
}

.settings-page > .section > .options > .option.active > .visual {
    outline-color: var(--brand-color);
}

.settings-page > .section > .options > .option.light > .visual {
    background-image: url(/light-variant.png);
}

.settings-page > .section > .options > .option.dark > .visual {
    background-image: url(/dark-variant.png);
}

.settings-page > .section > .options > .option.system > .visual {
    background-image: url(/dark-variant.png);
    background-size: 210%;
}

.settings-page > .section > .options > .option.system > .visual:after {
    content: '';
    position: absolute;
    left: 50%;
    display: block;
    width: 100%;
    height: 100%;
    background-size: 210%;
    background-repeat: no-repeat;
    background-image: url(/light-variant.png);
}

.settings-page > .section > .options > .option.system > .visual:before {
    content: '';
    z-index: 1;
    position: absolute;
    left: 50%;
    display: block;
    height: 100%;
    width: 1px;
    background-color: #161616;
}

.settings-page > .section > .options > .option > .desc {
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
    color: var(--font-color-tertiary);
    margin-top: 10px;
    transition: color 0.2s ease-out;
}

.settings-page > .section > .options > .option.active > .desc {
    color: var(--font-color);
}

.settings-page > .section > .options > .logout-button {
    font-size: 0.725rem;
    font-weight: 500;
    color: var(--font-color-inverted);
    cursor: pointer;
    padding: 7px 13px;
    border-radius: 6px;
    background-color: var(--btn-brand-color);
    transition: background-color 0.2s ease-out;
}

.settings-page > .section > .options > .logout-button:hover {
    background-color: var(--btn-brand-color-hover);
}
