.dropdown,
.sub-dropdown {
    position: absolute;
    z-index: 2;
}

.sub-dropdown {
    top: -4px !important;
    left: 100% !important;
}

.sub-dropdown.flip {
    left: auto !important;
    right: 100% !important;
}

.sub-dropdown.flip-y {
    top: unset !important;
    bottom: -4px !important;
}

.dropdown > .dropdown-menu {
    min-width: 170px;
    max-width: 210px;
}

.dropdown > .dropdown-menu,
.sub-dropdown > .dropdown-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    cursor: initial;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    box-shadow: var(--dropdown-shadow);
}

.sub-dropdown > .dropdown-menu {
    width: max-content;
    max-width: 210px;
    max-height: 50dvh;
    overflow: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
}

.dropdown > .dropdown-menu > .dropdown-item,
.sub-dropdown > .dropdown-menu > .dropdown-item {
    position: relative;
    font-size: 0.75rem;
    font-weight: 500;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown > .dropdown-menu > .dropdown-item:hover,
.sub-dropdown > .dropdown-menu > .dropdown-item:hover {
    background-color: var(--bg-color-tertiary);
}

.dropdown > .dropdown-menu > .dropdown-item.has-removable {
    color: var(--font-color-error-light);
}

.dropdown > .dropdown-menu > .dropdown-item > .icon {
    margin-right: -4px;
}

.sub-dropdown > .dropdown-menu > .dropdown-item:has(.playlist-input-container) {
    padding: unset;
}

.sub-dropdown > .dropdown-menu > .dropdown-item > .playlist-input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.sub-dropdown > .dropdown-menu > .dropdown-item > .playlist-input-container > .playlist-input {
    font: inherit;
    position: relative;
    flex: 1;
    background: transparent;
    padding: 4px 10px;
}

.sub-dropdown > .dropdown-menu > .dropdown-item > .playlist-input-container > .playlist-input::placeholder {
    color: var(--font-color);
}

.save-button {
    position: absolute;
    right: 0;
    font-size: 0.725rem;
    font-weight: 500;
    cursor: pointer;
    padding: 2px 4px;
    border: none;
    border-radius: 4px;
    background: var(--bg-color-secondary);
    color: var(--font-color);
    transition: background-color 0.2s ease-out;
}

.save-button:hover {
    background: var(--bg-color-tertiary);
}
