.dropdown,
.sub-dropdown {
    position: absolute;
    z-index: 2;
}

.dropdown {
    transform: scale(0.92);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out, transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.dropdown.active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.sub-dropdown {
    top: -4px !important;
    left: 100% !important;
}

.sub-dropdown.flip {
    left: auto !important;
    right: 100% !important;
}

.sub-dropdown.flip-y {
    top: unset !important;
    bottom: -4px !important;
}

.dropdown > .dropdown-menu {
    min-width: 170px;
    max-width: 210px;
}

.dropdown > .dropdown-menu,
.sub-dropdown > .dropdown-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    cursor: initial;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    box-shadow: var(--dropdown-shadow);
}

.sub-dropdown > .dropdown-menu {
    width: max-content;
    max-width: 210px;
    max-height: 50dvh;
    overflow: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
}

.dropdown > .dropdown-menu > .dropdown-separator,
.sub-dropdown > .dropdown-menu > .dropdown-separator {
    flex-shrink: 0;
    width: calc(100% - 16px);
    height: 1px;
    margin: 2px 8px;
    background-color: var(--border-color);
}

.sub-dropdown > .dropdown-menu > .dropdown-item:has(.playlist-input.has-text) ~ .dropdown-separator {
    width: calc(100% - 10px);
}

.dropdown > .dropdown-menu > .dropdown-item,
.sub-dropdown > .dropdown-menu > .dropdown-item {
    position: relative;
    font-size: 0.75rem;
    font-weight: 500;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown > .dropdown-menu > .dropdown-item:hover,
.sub-dropdown > .dropdown-menu > .dropdown-item:hover {
    background-color: var(--bg-color-tertiary);
}

.dropdown > .dropdown-menu > .dropdown-item.active {
    background-color: var(--bg-color-tertiary);
}

.dropdown > .dropdown-menu > .dropdown-item.has-removable {
    color: var(--font-color-error-light);
}

.dropdown > .dropdown-menu > .dropdown-item.add-favorite {
    color: var(--brand-color);
}

.dropdown > .dropdown-menu > .dropdown-item > .icon {
    margin-right: -4px;
}

.sub-dropdown > .dropdown-menu > .dropdown-item {
    transition: opacity 0.2s ease-out;
}

.sub-dropdown > .dropdown-menu > .dropdown-item:has(.playlist-input.has-text) ~ .dropdown-item {
    opacity: 0.3;
    pointer-events: none;
}

.sub-dropdown > .dropdown-menu > .dropdown-item:has(.playlist-input-container) {
    padding: unset;
    background-color: unset !important;
}

.sub-dropdown > .dropdown-menu > .dropdown-item > .playlist-input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.sub-dropdown > .dropdown-menu > .dropdown-item > .playlist-input-container > .playlist-input {
    font: inherit;
    position: relative;
    flex: 1;
    padding: 4px 10px;
    background: transparent;
}

.sub-dropdown > .dropdown-menu > .dropdown-item > .playlist-input-container > .playlist-input::placeholder {
    font: inherit;
}

.sub-dropdown > .dropdown-menu > .dropdown-item > .playlist-input-container > .playlist-input.has-text {
    max-width: calc(100% - 52px);
}

.sub-dropdown > .dropdown-menu > .dropdown-item > .playlist-input-container > .playlist-input.has-text ~ .create-btn {
    opacity: 1;
    visibility: visible;
}

.sub-dropdown > .dropdown-menu > .dropdown-item > .playlist-input-container > .create-btn {
    position: absolute;
    right: 2px;
    opacity: 0;
    visibility: hidden;
    font-size: 0.725rem;
    font-weight: 500;
    cursor: pointer;
    padding: 3px 7px;
    border: none;
    border-radius: 4px;
    background: var(--bg-color-tertiary);
    color: var(--font-color);
    transition: background-color 0.2s ease-out, opacity 0.2s ease-out, visibility 0.2s ease-out;
}

.sub-dropdown > .dropdown-menu > .dropdown-item > .playlist-input-container > .create-btn:hover {
    background: var(--bg-color-quaternary);
}

/* Responsive */
@media only screen and (max-width: 480px), (pointer: coarse) {
    .dropdown {
        position: fixed;
        top: unset !important;
        left: 16px !important;
        bottom: 0 !important;
        width: calc(100% - 32px);
        z-index: 3;
        opacity: 1;
        visibility: visible;
        transform: scale(1) translateY(100%);
        transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .dropdown.active {
        transform: scale(1) translateY(0);
    }

    .dropdown > .dropdown-menu {
        min-width: 100%;
        max-width: 100%;
        border-radius: 12px 12px 0 0;
        padding: 7px;
        gap: 4px;
        box-shadow: none;
        border: none;
        background-color: var(--bg-color-secondary);
        max-height: 60dvh;
        overflow: auto;
        overflow-x: hidden;
        overscroll-behavior: contain;
        -webkit-overflow-scrolling: touch;
    }

    .dropdown > .dropdown-menu > .dropdown-separator,
    .sub-dropdown > .dropdown-menu > .dropdown-separator {
        display: none;
    }

    .dropdown > .dropdown-menu > .dropdown-item {
        font-size: 0.825rem;
        padding: 7px 12px;
        border-radius: 6px;
        transition: opacity 0.2s ease-out;
    }

    .dropdown > .dropdown-menu > .dropdown-item:has(.playlist-input.has-text) ~ .dropdown-item {
        opacity: 0.3;
        pointer-events: none;
    }

    .dropdown > .dropdown-menu > .dropdown-item:has(.playlist-input-container) {
        padding: unset;
        background-color: unset !important;
    }

    .dropdown > .dropdown-menu > .dropdown-item > .playlist-input-container {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .dropdown > .dropdown-menu > .dropdown-item > .playlist-input-container > .playlist-input {
        font: inherit;
        position: relative;
        flex: 1;
        padding: 7px 12px;
        background: transparent;
    }

    .dropdown > .dropdown-menu > .dropdown-item > .playlist-input-container > .playlist-input::placeholder {
        font: inherit;
    }

    .dropdown > .dropdown-menu > .dropdown-item > .playlist-input-container > .playlist-input.has-text {
        max-width: calc(100% - 52px);
    }

    .dropdown > .dropdown-menu > .dropdown-item > .playlist-input-container > .playlist-input.has-text ~ .create-btn {
        opacity: 1;
        visibility: visible;
    }

    .dropdown > .dropdown-menu > .dropdown-item > .playlist-input-container > .create-btn {
        position: absolute;
        right: 2px;
        opacity: 0;
        visibility: hidden;
        font-size: 0.725rem;
        font-weight: 500;
        cursor: pointer;
        padding: 5px 9px;
        border: none;
        border-radius: 5px;
        background: var(--bg-color-tertiary);
        color: var(--font-color);
        transition: background-color 0.2s ease-out, opacity 0.2s ease-out, visibility 0.2s ease-out;
    }

    .dropdown > .dropdown-menu > .dropdown-item > .playlist-input-container > .create-btn:hover {
        background: var(--bg-color-quaternary);
    }
}
