.media-list {
    list-style: none;
    padding: 0;
    margin-bottom: -4px;
}

.media-list .media-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 0 -8px;
    border-radius: 8px;
    transition: background-color 0.2s ease-out;
}

.media-list .media-item:hover {
    background-color: var(--bg-color-secondary);
}

.media-list .media-item.active {
    background-color: var(--bg-color-secondary);
}

.media-list .media-item > .media-state {
    position: relative;
    flex-shrink: 0;
    width: 46px;
    height: 46px;
    margin-right: 12px;
    border-radius: 6px;
}

.media-list .media-item > .media-state > .thumbnail {
    display: block;
    width: 46px;
    height: 46px;
    object-fit: cover;
    border-radius: 6px;
    background-color: var(--bg-color-secondary);
}

/* Hide thumbnail overlay by default */
.media-list .media-item > .media-state > .overlay {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: var(--overlay-bg);
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
}

/* Show thumbnail overlay when hovering a track/playlist/item */
.media-list .media-item:hover > .media-state > .overlay {
    opacity: 1;
    visibility: visible;
}

/* Show thumbnail overlay (and it's children divs, important!) when a track is playing or paused */
.media-list .media-item.playing > .media-state > .overlay,
.media-list .media-item.paused > .media-state > .overlay {
    opacity: 1;
    visibility: visible;
}

.media-list .media-item > .media-state > .overlay > .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.media-list .media-item > .media-state > .overlay > .container > .play {
    position: absolute;
    cursor: pointer;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
}

/* Hide play button when a track is playing or paused */
.media-list .media-item.playing > .media-state > .overlay > .container > .play,
.media-list .media-item.paused > .media-state > .overlay > .container > .play {
    opacity: 0;
    visibility: hidden;
}

/* Show play button when a track is paused and you hover the track/playlist/item */
.media-list .media-item.paused:hover > .media-state > .overlay > .container > .play {
    opacity: 1;
    visibility: visible;
}

.media-list .media-item > .media-state > .overlay > .container > .play > .play-icon {
    display: block;
    width: 26px;
    height: 23px;
    background-color: var(--font-color-inverted);
    mask-repeat: no-repeat;
    mask-image: url(/play.svg);
}

/* Hide pause button by default */
.media-list .media-item > .media-state > .overlay > .container > .pause {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
}

/* Hide pause button when a track is paused */
.media-list .media-item.paused > .media-state > .overlay > .container > .pause {
    opacity: 0;
    visibility: hidden;
}

/* Show pause button when a track is playing and you hover the track/playlist/item */
.media-list .media-item.playing:hover > .media-state > .overlay > .container > .pause {
    opacity: 1;
    visibility: visible;
}

.media-list .media-item > .media-state > .overlay > .container > .pause > .pause-icon {
    display: block;
    width: 26px;
    height: 23px;
    background-color: var(--font-color-inverted);
    mask-repeat: no-repeat;
    mask-image: url(/pause.svg);
}

/* Hide play-state animation by default */
.media-list .media-item > .media-state > .overlay > .play-state-animation {
    margin-left: 1px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
}

/* Show play-state animation when a track is playing or paused */
.media-list .media-item.playing > .media-state > .overlay > .play-state-animation,
.media-list .media-item.paused > .media-state > .overlay > .play-state-animation {
    opacity: 1;
    visibility: visible;
}

/* Hide play-state animation when you hover the track/playlist/item */
.media-list .media-item:hover > .media-state > .overlay > .play-state-animation {
    opacity: 0;
    visibility: hidden;
}

/* Play-state animation */
.media-list .media-item > .media-state > .overlay > .play-state-animation > .sound-bars {
    animation-play-state: paused;
}

/* Animation is active when a track is playing */
.media-list .media-item.playing > .media-state > .overlay > .play-state-animation > .sound-bars {
    animation-play-state: running;
}

/* Animation is paused when a track is stopped */
.media-list .media-item.paused > .media-state > .overlay > .play-state-animation > .sound-bars {
    animation-play-state: paused;
}

/* The individual sound-bars will inherit the play state from parent */
.media-list .media-item > .media-state > .overlay > .play-state-animation > .sound-bars > .bar {
    animation-play-state: inherit !important;
    transform-origin: bottom;
    fill: var(--font-color-inverted);
}

.media-list .media-item > .media-state > .overlay > .play-state-animation > .sound-bars > .bar1 {
    animation: MediaListbounce 0.5s infinite ease-in-out;
}

.media-list .media-item > .media-state > .overlay > .play-state-animation > .sound-bars > .bar2 {
    animation: MediaListbounce 0.55s infinite ease-in-out;
}

.media-list .media-item > .media-state > .overlay > .play-state-animation > .sound-bars > .bar3 {
    animation: MediaListbounce 0.45s infinite ease-in-out;
}

.media-list .media-item > .media-state > .overlay > .play-state-animation > .sound-bars > .bar4 {
    animation: MediaListbounce 0.6s infinite ease-in-out;
}

.media-list .media-item > .media-state > .overlay > .play-state-animation > .sound-bars > .bar5 {
    animation: MediaListbounce 0.5s infinite ease-in-out;
}

.media-list .media-item > .media-state > .overlay > .play-state-animation > .sound-bars > .bar6 {
    animation: MediaListbounce 0.55s infinite ease-in-out;
}

@keyframes MediaListbounce {
    0%,
    100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(1.8);
    }
}

.media-list .media-item > .media-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.media-list .media-item > .media-details > .container {
    line-height: 1;
}

.media-list .media-item > .media-details > .song-name {
    font-size: 0.85rem;
    font-weight: 600;
    /* Help with CJK letter spacing */
    line-height: 1rem;
    margin-bottom: 1px;
    transition: color 0.2s ease-out;
}

.media-list .media-item.playing > .media-details > .song-name,
.media-list .media-item.paused > .media-details > .song-name {
    color: var(--font-color-active);
}

.media-list .media-item > .media-details > .container > .artist {
    display: inline;
    font-size: 0.725rem;
    font-weight: 600;
    color: var(--font-color-tertiary);
    transition: color 0.2s ease-out;
}

.media-list .media-item.playing > .media-details > .container > .artist,
.media-list .media-item.paused > .media-details > .container > .artist {
    color: var(--font-color-secondary);
}

.media-list .media-item > .media-details > .container > .divider {
    display: inline-block;
    vertical-align: middle;
    width: 2px;
    height: 2px;
    margin: 0 4px;
    margin-top: 2px;
    border-radius: 50%;
    background-color: var(--font-color-tertiary);
    transition: background-color 0.2s ease-out;
}

.media-list .media-item.playing > .media-details > .container > .divider,
.media-list .media-item.paused > .media-details > .container > .divider {
    background-color: var(--font-color-secondary);
}

.media-list .media-item > .media-details > .container > .album {
    display: inline;
    font-size: 0.725rem;
    font-weight: 500;
    color: var(--font-color-tertiary);
    transition: color 0.2s ease-out;
}

.media-list .media-item.playing > .media-details > .container > .album,
.media-list .media-item.paused > .media-details > .container > .album {
    color: var(--font-color-secondary);
}

.media-list .media-item > .favorited {
    padding: 6px;
    margin-left: 8px;
    color: var(--font-color-tertiary);
    transition: color 0.2s ease-out;
}

.media-list .media-item.playing > .favorited,
.media-list .media-item.paused > .favorited {
    color: var(--font-color-secondary);
}
