/* Full normal variable Inter font with all axes included */
@import '@fontsource-variable/inter/standard.css';

/* Full italic variable Inter font with all axes included */
@import '@fontsource-variable/inter/standard-italic.css';

/* MISC changes to base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a.textlink {
    color: var(--link-color);
    outline: none;
    text-decoration: none;
}

a.textlink:hover {
    text-decoration: underline;
}

p {
    margin: 0;
}

img[alt] {
    font-size: 0.5rem;
}

select {
    font-family: var(--system-fonts);
    font-family: var(--inter-font);
    color: var(--font-color);
    user-select: none;
    border: none;
    border-radius: 0;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    background-color: var(--bg-color);
}

textarea,
button,
label,
input,
input:focus,
input:active,
input[type='text'],
input[type='password'],
input[type='button'],
input[type='submit'],
input[type='number'],
input[type='email'],
input[type='file'],
input[type='search'],
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    resize: none;
    border: none;
    border-radius: 0;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    font-family: var(--system-fonts);
    font-family: var(--inter-font);
    color: var(--font-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    font-family: var(--system-fonts);
    font-family: var(--inter-font);
    font-weight: 400;
    font-size: 0.75rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--font-color);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px var(--bg-color);
}

input::placeholder {
    color: var(--font-color-tertiary);
}

/*
button:disabled {
    opacity: 0.3;
}

button:hover:disabled {
    background-color: unset;
}

button:active:disabled {
    opacity: unset;
}

:disabled {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.disabled {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
*/

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg {
    display: block;
}

/* CSS Variables */
:root {
    --system-fonts: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --inter-font: 'Inter Variable', sans-serif;
}

/* Site Theme */
html.light {
    --system-fonts: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --inter-font: 'Inter Variable', sans-serif;
    color-scheme: light;
    --bg-color: #ffffff;
    --bg-color-secondary: #f8f8f8;
    --bg-color-tertiary: #ececec;
    --bg-color-quaternary: #bbbbbb;
    --font-color: #303030;
    --font-color-secondary: #555555;
    --font-color-tertiary: #767676;
    --font-color-inverted: #ffffff;
    --font-color-active: #000000;
    --font-color-error: #e95151;
    --font-color-error-light: #e64e4e;
    --border-color: #ececec;
    --border-color-secondary: #d6d6d6;
    --link-color: #a386e7;
    --link-color-active: #b5a1e7;
    --error-font: #f15a5a;
    --error-border: #ffd6d6;
    --error-background: #fff0f0;
    --error-background-hover: #ffe4e4;
    --brand-color: #947bee;
    --btn-brand-color: #b282e9;
    --btn-brand-color-hover: #9470e9;
    --btn-brand-color-disabled: #caa5f0;
    --success-color: #2faf25; /* Not used */
    --overlay-bg: rgb(0 0 0 / 45%);
    --bg-color-dimmer: rgba(22, 11, 37, 0.4);
    --volume-dot-color: #bbbbbb;
    --volume-dot-color-active: #a1a1a1;
    --scrollbar-color: #a8a8a8;
    --scrollbar-color-hover: #8a8a8a;
    --dropdown-shadow: 0 0 4px rgba(0, 0, 0, 0.04);
    --playing-artwork-opacity: 0.16;
    --playing-bg-color: rgba(0, 0, 0, 0.04);
    --playing-bg-color-secondary: rgba(0, 0, 0, 0.06);
    --playing-bg-color-tertiary: rgba(0, 0, 0, 0.12);
    --playing-bg-color-quaternary: rgba(0, 0, 0, 0.18);
    --playing-border-color: rgba(0, 0, 0, 0.08);
    --playing-font-color: rgba(0, 0, 0, 0.5);
}

html.dark {
    color-scheme: dark;
    --bg-color: #111111;
    --bg-color-secondary: #161616;
    --bg-color-tertiary: #222222;
    --bg-color-quaternary: #414141;
    --font-color: #dfdde4;
    --font-color-secondary: #bbb9c0;
    --font-color-tertiary: #9b999e;
    --font-color-inverted: #ffffff;
    --font-color-active: #ffffff;
    --font-color-error: #cc3a3a;
    --font-color-error-light: #e45353;
    --border-color: #1f1f1f;
    --border-color-secondary: #303030;
    --link-color: #9e7de9;
    --link-color-active: #af9cdf;
    --error-font: #f76565;
    --error-border: #80241b;
    --error-background: #220f0c;
    --error-background-hover: #301815;
    --brand-color: #a381f3;
    --btn-brand-color: #834ec0;
    --btn-brand-color-hover: #9e53f3;
    --btn-brand-color-disabled: #b487e7;
    --success-color: #2faf25; /* Not used */
    --overlay-bg: rgb(0 0 0 / 65%);
    --bg-color-dimmer: rgba(7, 3, 12, 0.6);
    --volume-dot-color: #87868a;
    --volume-dot-color-active: #c4c1c7;
    --scrollbar-color: #78767c;
    --scrollbar-color-hover: #aba9af;
    --dropdown-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    --playing-artwork-opacity: 0.08;
    --playing-bg-color: rgba(255, 255, 255, 0.04);
    --playing-bg-color-secondary: rgba(255, 255, 255, 0.08);
    --playing-bg-color-tertiary: rgba(255, 255, 255, 0.16);
    --playing-bg-color-quaternary: rgba(255, 255, 255, 0.32);
    --playing-border-color: rgba(255, 255, 255, 0.1);
    --playing-font-color: rgba(255, 255, 255, 0.4);
}

html,
body {
    font-family: var(--system-fonts);
    font-family: var(--inter-font);
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin-right: calc(-1 * (100vw - 100%)) !important;
    width: auto;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

/* Isolate volume scroll */
body.lockscroll {
    overflow: hidden !important;
}

#root {
    height: 100%;
}

/* Music App */
.music-app {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100%;
    fill: var(--font-color);
    color: var(--font-color);
    background-color: var(--bg-color);
}

.music-app:has(.login) {
    background-color: var(--bg-color-secondary);
}

/* Interface */
.interface {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

/* Login/Portal Page */
.login {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    width: 360px;
    max-width: 100%;
    min-height: 100%;
}

.login > .login_header {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

.login > .login_header > .logo {
    display: block;
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/logo.webp);
}

.login > .login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.login > .login_form > .error_placeholder {
    position: relative;
    height: 110px;
    max-width: 260px;
}

.login > .login_form > .error_placeholder > .error {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--error-font);
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid var(--error-border);
    background-color: var(--error-background);
}

.login > .login_form > .title {
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.login > .login_form > .input_container {
    position: relative;
    display: flex;
    align-items: center;
    width: 260px;
    max-width: 100%;
    margin-bottom: 10px;
}

.login > .login_form > .input_container > input {
    font-size: 0.75rem;
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    outline: 1px solid var(--border-color);
    text-overflow: ellipsis;
}

.login > .login_form > .submit_button {
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--font-color-inverted);
    width: 260px;
    max-width: 100%;
    padding: 9px 12px;
    border-radius: 8px;
    margin-top: 4px;
    background-color: var(--btn-brand-color);
    transition: background-color 0.2s ease-out;
}

.login > .login_form button:hover:not(:disabled) {
    background-color: var(--btn-brand-color-hover);
}

.login > .login_form button:disabled {
    background-color: var(--btn-brand-color-disabled);
    cursor: not-allowed;
}

.login > .disclaimer {
    margin-top: auto;
    padding: 12px 20px;
    font-size: 0.725rem;
    font-weight: 300;
    color: var(--font-color-tertiary);
    text-align: center;
}

.dimmer {
    display: none;
}

/* Main */
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(100% - 200px);
    transition: max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1), filter 0.2s ease;
}

.main > .main_header {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    max-height: 53px;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--border-color);
}

.main > .main_header > .primary {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: calc(100% - 30px);
}

.main > .main_header:has(.sorting > .sort) > .primary {
    max-width: calc(100% - 160px);
}

.main > .main_header:has(.sorting > .sort):has(.sorting.links > .filter) > .primary {
    max-width: calc(100% - 236px);
}

.main > .main_header > .primary > .container {
    position: relative;
    max-width: calc(100% - 14px);
}

.main > .main_header > .primary > .return_icon {
    cursor: pointer;
    padding: 6px;
    margin-right: 10px;
    border-radius: 20px;
    transition: background-color 0.2s ease-out;
}

.main > .main_header > .primary > .return_icon:hover {
    background-color: var(--bg-color-tertiary);
}

.main > .main_header > .primary > .container > .page_title {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.page_title > .text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main > .main_header > .primary > .container > .page_title > .page-icon {
    margin-left: 6px;
}

.main > .main_header > .primary > .container > .page_title > .page-icon.playlist {
    margin-left: 8px;
    padding: 4px;
    border-radius: 6px;
    background-color: var(--bg-color-tertiary);
}

.main > .main_header > .primary > .container > .page_title > .page-icon.artist-tracks {
    margin-left: 8px;
    padding: 4px;
    border-radius: 6px;
    background-color: var(--bg-color-tertiary);
}

.main > .main_header > .secondary {
    display: flex;
    align-items: center;
    gap: 12px;
}

.main > .main_header > .secondary > .sorting {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
}

.main > .main_header > .secondary > .sorting > .filter {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.main > .main_header > .secondary > .sorting.links > .filter > .responsive-icon {
    display: none;
}

.main > .main_header > .secondary > .sorting > .filter > select {
    font-size: 0.725rem;
    font-weight: 500;
    color: var(--brand-color);
    cursor: pointer;
    padding: 6px 8px;
    padding-right: 22px;
}

.main > .main_header > .secondary > .sorting > .filter > .icon {
    position: absolute;
    right: 6px;
    color: var(--brand-color);
    user-select: none;
    pointer-events: none;
}

.main > .main_header > .secondary > .sorting > .filter > select > option {
    font-weight: 500;
    color: var(--font-color);
}

.main > .main_header > .secondary > .sorting > .sort {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-left: 1px solid var(--border-color);
}

.main > .main_header > .secondary > .sorting > .sort > .icon {
    padding: 7px;
    cursor: pointer;
}

.main > .main_header > .secondary > .sorting > .sort > .icon > svg {
    fill: var(--brand-color);
}

.main > .main_header > .secondary > .sorting > .sort > .icon > svg > g > .arrow {
    transition: opacity 0.2s ease-out;
}

.main > .main_header > .secondary > .sorting > .sort > .icon > svg > g > .arrow.down {
    opacity: 0.4;
}

/* Ascending */
.main > .main_header > .secondary > .sorting > .sort > .icon.active > svg > g > .arrow.down {
    opacity: 1;
}

.main > .main_header > .secondary > .sorting > .sort > .icon.active > svg > g > .arrow.up {
    opacity: 0.4;
}

/* Filter styles - not currently used
.filter {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    flex-shrink: 0;
}

.filter > select {
    font-size: 0.725rem;
    font-weight: 500;
    color: var(--brand-color);
    cursor: pointer;
    padding: 6px 8px;
    padding-right: 26px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
}

.filter > .icon {
    position: absolute;
    right: 8px;
    color: var(--brand-color);
    user-select: none;
    pointer-events: none;
}

.filter > select > option {
    font-weight: 500;
    color: var(--font-color);
}

*/

.main > .main_header > .secondary > .sidenav_toggle {
    display: none;
}

.main > .main_content {
    display: flex;
    flex-direction: column;
    margin: 16px 20px;
}

.main > .main_content > .error {
    color: var(--font-color-error);
}

.main > .main_footer {
    position: sticky;
    bottom: 0;
    z-index: 2;
    width: 100%;
    margin-top: auto;
    background-color: var(--bg-color);
    /* Attempted fix to subpixel rendering that causes 1px content bleed at bottom
    will-change: transform;*/
}

/* Playback area */
.main > .main_footer > .playback {
    position: relative;
}

/* Progress bar */
.main > .main_footer > .playback > .progress {
    position: relative;
    display: flex;
    height: 8px;
    margin-top: -4px;
    transform: scaleY(0.6);
    transition: transform 0.1s linear;
}

.main > .main_footer > .playback > .progress:hover,
.main > .main_footer > .playback > .progress:active {
    transform: scaleY(1);
}

/* Progress loading */
.main > .main_footer > .playback > .progress:has(input.loading)::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: transform 0.1s linear;
    background-image: linear-gradient(
        90deg,
        var(--bg-color-secondary) 0%,
        var(--bg-color-quaternary) 20%,
        var(--bg-color-secondary) 40%
    );
    background-size: 200%;
    animation: loading-shimmer 1.6s infinite linear;
    animation-delay: 0.4s;
}

@keyframes loading-shimmer {
    0% {
        opacity: 0.4;
        background-position: 100%;
    }
    60%,
    100% {
        opacity: 0.4;
        background-position: -100%;
    }
}

.main > .main_footer > .playback > .progress > input {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    --progress-width: 0%;
    --buffered-width: 0%;
    --transition-duration: 0s;
}

/* WebKit progress visuals */
.main > .main_footer > .playback > .progress > input::-webkit-slider-runnable-track {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--bg-color-quaternary), var(--bg-color-quaternary)) no-repeat 0 /
            var(--progress-width) 100%,
        linear-gradient(var(--bg-color-tertiary), var(--bg-color-tertiary)) no-repeat 0 / var(--buffered-width) 100%,
        var(--bg-color-secondary);
    transition: background-size var(--transition-duration) linear;
}

/* Firefox progress visuals */
.main > .main_footer > .playback > .progress > input::-moz-range-track {
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--bg-color-quaternary), var(--bg-color-quaternary)) no-repeat 0 /
            var(--progress-width) 100%,
        linear-gradient(var(--bg-color-tertiary), var(--bg-color-tertiary)) no-repeat 0 / var(--buffered-width) 100%,
        var(--bg-color-secondary);
    transition: background-size var(--transition-duration) linear;
}

/* Hiding the input slider thumbs for different browsers */
.main > .main_footer > .playback > .progress > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
}

.main > .main_footer > .playback > .progress > input::-moz-range-thumb {
    width: 0;
    height: 0;
    border: none;
}

.main > .main_footer > .playback > .progress > input::-ms-thumb {
    width: 0;
    height: 0;
}

.main > .main_footer > .playback > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    /* Help with CJK letter spacing */
    max-height: 76px;
}

/* Track details */
.main > .main_footer > .playback > .container > .track-info {
    position: relative;
    max-width: calc(100% - 264px);
}

.main > .main_footer > .playback > .container > .track-info > .track-name {
    font-size: 0.85rem;
    font-weight: 600;
    /* Help with CJK letter spacing */
    line-height: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.main > .main_footer > .playback > .container > .track-info > .track-name > .text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main > .main_footer > .playback > .container > .track-info > .track-name > .favorited {
    margin-left: 4px;
}

.main > .main_footer > .playback > .container > .track-info > .artist {
    font-size: 0.725rem;
    font-weight: 600;
    /* Help with CJK letter spacing */
    line-height: 0.875rem;
    color: var(--font-color-tertiary);
    margin-bottom: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main > .main_footer > .playback > .container > .track-info > .album {
    display: flex;
    align-items: center;
    font-size: 0.725rem;
    font-weight: 500;
    /* Help with CJK letter spacing */
    line-height: 0.875rem;
    color: var(--font-color-tertiary);
}

.main > .main_footer > .playback > .container > .track-info > .album > .text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main > .main_footer > .playback > .container > .track-info > .album > .album-icon {
    margin-left: 4px;
}

.main > .main_footer > .playback > .container > .track-info > .album > .album-icon > svg {
    fill: var(--font-color-tertiary);
}

/* Player controls */
.main > .main_footer > .playback > .container > .controls {
    display: flex;
    align-items: center;
}

.main > .main_footer > .playback > .container > .controls > .knobs {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 8px;
}

.main > .main_footer > .playback > .container > .controls > .knobs > .shuffle {
    cursor: pointer;
}

.main > .main_footer > .playback > .container > .controls > .knobs > .shuffle > .shuffle-icon {
    display: block;
    width: 32px;
    height: 28px;
    background-color: var(--font-color-secondary);
    mask-repeat: no-repeat;
    mask-image: url(/player-shuffle.svg);
    transition: background-color 0.2s ease-out;
}

.main > .main_footer > .playback > .container > .controls > .knobs > .shuffle:hover > .shuffle-icon {
    background-color: var(--font-color);
}

.main > .main_footer > .playback > .container > .controls > .knobs > .shuffle.active > .shuffle-icon {
    background-color: var(--brand-color);
}

/* Primary controls */
.main > .main_footer > .playback > .container > .controls > .knobs > .primary {
    display: flex;
    align-items: center;
    gap: 2px;
}

.main > .main_footer > .playback > .container > .controls > .knobs > .primary > .previous {
    cursor: pointer;
    padding: 2px 0;
    transform: rotate(180deg);
}

.main > .main_footer > .playback > .container > .controls > .knobs > .primary > .previous > .previous-icon {
    display: block;
    width: 28px;
    height: 24px;
    background-color: var(--font-color-secondary);
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-image: url(/player-next.svg);
    transition: opacity 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.main > .main_footer > .playback > .container > .controls > .knobs > .primary > .previous:hover > .previous-icon {
    background-color: var(--font-color);
}

.main > .main_footer > .playback > .container > .controls > .knobs > .primary > .container {
    position: relative;
    width: 36px;
    height: 32px;
}

.main > .main_footer > .playback > .container > .controls > .knobs > .primary > .container > .play {
    position: absolute;
    cursor: pointer;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
}

/* Hide play button when a track is playing */
.main > .main_footer > .playback.playing > .container > .controls > .knobs > .primary > .container > .play {
    opacity: 0;
    visibility: hidden;
}

.main > .main_footer > .playback > .container > .controls > .knobs > .primary > .container > .play > .play-icon {
    display: block;
    width: 36px;
    height: 32px;
    background-color: var(--font-color-secondary);
    mask-repeat: no-repeat;
    mask-image: url(/play.svg);
    transition: background-color 0.2s ease-out;
}

.main > .main_footer > .playback > .container > .controls > .knobs > .primary > .container > .play:hover > .play-icon {
    background-color: var(--font-color);
}

/* Hide pause button by default */
.main > .main_footer > .playback > .container > .controls > .knobs > .primary > .container > .pause {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
}

/* Show pause button when a track is playing */
.main > .main_footer > .playback.playing > .container > .controls > .knobs > .primary > .container > .pause {
    opacity: 1;
    visibility: visible;
}

.main > .main_footer > .playback > .container > .controls > .knobs > .primary > .container > .pause > .pause-icon {
    display: block;
    width: 36px;
    height: 32px;
    background-color: var(--font-color-secondary);
    mask-repeat: no-repeat;
    mask-image: url(/pause.svg);
    transition: background-color 0.2s ease-out;
}

.main
    > .main_footer
    > .playback
    > .container
    > .controls
    > .knobs
    > .primary
    > .container
    > .pause:hover
    > .pause-icon {
    background-color: var(--font-color);
}

.main > .main_footer > .playback > .container > .controls > .knobs > .primary > .next {
    cursor: pointer;
    padding: 2px 0;
}

.main > .main_footer > .playback > .container > .controls > .knobs > .primary > .next > .next-icon {
    display: block;
    width: 28px;
    height: 24px;
    background-color: var(--font-color-secondary);
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-image: url(/player-next.svg);
    transition: background-color 0.2s ease-out;
}

.main > .main_footer > .playback > .container > .controls > .knobs > .primary > .next:hover > .next-icon {
    background-color: var(--font-color);
}

.main > .main_footer > .playback > .container > .controls > .knobs > .repeat {
    cursor: pointer;
}

.main > .main_footer > .playback > .container > .controls > .knobs > .repeat > .repeat-icon {
    display: block;
    width: 32px;
    height: 28px;
    background-color: var(--font-color-secondary);
    mask-repeat: no-repeat;
    mask-image: url(/player-repeat.svg);
    transition: background-color 0.2s ease-out;
}

.main > .main_footer > .playback > .container > .controls > .knobs > .repeat > .repeat-icon-one {
    display: block;
    width: 32px;
    height: 28px;
    background-color: var(--font-color-secondary);
    mask-repeat: no-repeat;
    mask-image: url(/player-repeat-one.svg);
    transition: background-color 0.2s ease-out;
}

.main > .main_footer > .playback > .container > .controls > .knobs > .repeat:hover > .repeat-icon,
.main > .main_footer > .playback > .container > .controls > .knobs > .repeat:hover > .repeat-icon-one {
    background-color: var(--font-color);
}

.main > .main_footer > .playback > .container > .controls > .knobs > .repeat.active > .repeat-icon,
.main > .main_footer > .playback > .container > .controls > .knobs > .repeat.active > .repeat-icon-one {
    background-color: var(--brand-color);
}

/* Duration */
.main > .main_footer > .playback > .container > .controls > .duration {
    display: flex;
    font-size: 0.725rem;
    font-weight: 500;
    font-variant-numeric: tabular-nums; /* Don't like how the font looks, but needed to prevent layout shift when numbers change */
    color: var(--font-color-tertiary);
}

.main > .main_footer > .playback > .container > .controls > .duration > .divider {
    margin: 0 4px;
}

/* Home page specific */
.home-page > .section {
    margin-bottom: 60px;
}

.home-page > .section:last-of-type {
    margin-bottom: 0;
}

.home-page > .section > .section-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.home-page > .section > .section-header > .container > .section_title {
    font-size: 0.95rem;
    font-weight: 700;
    margin-bottom: 2px;
}

.home-page > .section > .section-header > .container > .section_desc {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--font-color-tertiary);
    margin-bottom: 8px;
}

.home-page > .section > .section-header > .see-more {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--brand-color);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px 11px;
    border-radius: 6px;
    background-color: var(--bg-color-secondary);
    transition: background-color 0.2s ease-out;
}

.home-page > .section > .section-header > .see-more:hover {
    background-color: var(--bg-color-tertiary);
}

/* Other page specific */
.albums-page,
.favorites-page,
.tracks-page,
.recently-page,
.frequently-page,
.genre-page,
.artist-tracks-page,
.artists-page,
.lyrics-page {
    margin-top: -4px;
}

.albums-page > .empty,
.favorites-page > .empty,
.tracks-page > .empty,
.recently-page > .empty,
.frequently-page > .empty,
.genre-page > .empty,
.playlist-page > .empty,
.lyrics-page > .empty {
    font-size: 0.85rem;
    margin: 4px 0;
}

.main > .main_content > .empty-queue {
    font-size: 0.85rem;
}

/* Artists page */
.main > .main_content > .artists-page > .album-artists {
    font-size: 0.725rem;
    font-weight: 500;
    text-align: right;
    margin-right: -4px;
    margin-bottom: 8px;
}

.main > .main_content > .artists-page > .album-artists > a.textlink {
    color: var(--font-color-tertiary);
}

/* Responsive */
@media only screen and (max-width: 800px) {
    body {
        margin-right: unset !important;
        width: 100%;
    }

    .interface {
        border: none;
    }
}

@media only screen and (pointer: coarse) {
    /* Prevent page zoom for iOS devices */
    html.iOS input {
        font-size: 1rem !important;
    }

    html.iOS .music-app:not(:has(.login)) {
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);
    }

    .main > .main_footer > .playback > .progress {
        height: 14px;
    }

    html.iOS .main > .main_footer > .playback > .container {
        max-height: 90px;
        padding-bottom: max(14px, env(safe-area-inset-bottom));
    }
}

@media only screen and (max-width: 700px), (pointer: coarse) {
    .music-app:has(.dropdown.active) .dimmer {
        z-index: 5;
    }

    .dimmer {
        display: block;
        position: fixed;
        z-index: 4;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: visible;
        opacity: 0;
        visibility: hidden;
        background-color: var(--bg-color-dimmer);
        transition: opacity 0.2s ease, visibility 0.2s ease;
    }

    .dimmer.active {
        opacity: 1;
        visibility: visible;
    }

    .dimmer.active ~ .sidenav {
        filter: blur(8px);
    }

    .dimmer.active ~ .main {
        filter: blur(8px);
    }
}

@media only screen and (max-width: 700px) {
    .dimmer.active ~ .sidenav {
        filter: none;
    }

    body.lockscroll,
    body:has(.sidenav_wrapper.active) {
        overflow: hidden !important;
    }

    .main {
        max-width: 100%;
    }

    .main > .main_header > .primary > .container {
        max-width: calc(100% - 50px);
    }

    .main > .main_header > .secondary > .sidenav_toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        width: 28px;
        height: 28px;
        border-radius: 20px;
        transition: background-color 0.2s ease-out;
    }

    .main > .main_header > .secondary > .sidenav_toggle:hover {
        background-color: var(--bg-color-tertiary);
    }

    .main > .main_header > .secondary > .sidenav_toggle > .bar {
        height: 2px;
        width: 12px;
        /* Force pixel alignment, on some devices the bars are uneven... subpixel rendering */
        will-change: transform;
        transform: translateZ(0);
        border-radius: 2px;
        background-color: var(--font-color);
    }
}

@media only screen and (max-width: 500px) {
    .main > .main_footer > .playback > .container > .track-info {
        max-width: calc(100% - 190px);
    }

    .main > .main_footer > .playback > .container > .controls {
        align-items: end;
        flex-direction: column-reverse;
    }

    .main > .main_footer > .playback > .container > .controls > .knobs {
        margin-top: 8px;
        margin-right: -6px;
    }

    .main > .main_footer > .playback > .container > .controls > .knobs > .primary {
        gap: 4px;
    }
}

@media only screen and (max-width: 390px) {
    .main > .main_header:has(.sorting > .sort):has(.sorting.links > .filter) > .primary {
        max-width: calc(100% - 208px);
    }

    .main > .main_header > .secondary > .sorting.links > .filter > .responsive-icon {
        position: absolute;
        left: 6px;
        display: block;
        fill: var(--brand-color);
    }

    .main > .main_header > .secondary > .sorting.links > .filter > select {
        opacity: 0;
        width: 44px;
    }

    .main > .main_footer > .playback > .container > .track-info {
        max-width: calc(100% - 110px);
    }

    .main > .main_footer > .playback > .container > .controls > .knobs {
        margin-right: -1px;
    }

    .main > .main_footer > .playback > .container > .controls > .knobs > .shuffle,
    .main > .main_footer > .playback > .container > .controls > .knobs > .repeat {
        display: none;
    }
}
